body,html {
  padding: 0px;
  padding-bottom: 170px;
  margin: 0px;
  text-align: center;
  background-color: #e3e2df;
}

p{
  color: white;
}

button {
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
}

.innhold_kort {
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innhold_kort > img {
  cursor: pointer;
}

.album {
  width: 300px;
  background-color: wheat;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img {
  width: 300px;
  background-color: black;
}

.lyd{
    width: 300px;
}

#spill_pause_knapp {
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 62px;
  margin-left: 10px;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;
}

#spill_pause_knapp:hover {
  border-color: transparent transparent transparent gainsboro;
}

.knapp_pauset {
  border-style: solid !important;
  border-width: 35px 0 35px 55px !important;
}

.knapp_spiller {
  border-style: double !important;
  border-width: 0px 0 0px 60px !important;
}

/* .spilleliste {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

#kontainer_navigasjon > button{
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#kontainer_spilleliste_innhold {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 100px;
  row-gap: 200px;
  padding-top: 10px;
  border: #4caf50;
}

#kontainer_avspilling_knapper > button {
  padding: 12px 30px;
  background-color: darkseagreen;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#bunn_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 122px;
  margin: 0px;
  padding: 0px;
  border: 3px solid #73ad21;
  background-color: black;
}

#kontainer_sang_manipulasjon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bunn_bar_sang_info {
  position: absolute;
  left: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bunn_bar_spor_bilde {
  width: 90px;
}

#bunn_bar_spor_artist_titel {
  color: white;
  margin-left: 5px;
}

#kontainer_sang_progresjonbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#kontainer_sang_manipulasjon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#kontainer_sang_avspilling {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
