body, html{
    padding: 0px;
    padding-bottom: 110px;
    margin: 0px;
}

p{
    color: white;
}

button{
    cursor:pointer;

}

.album{
    width: 200px;
    background-color: wheat;
}

.bilde{
    width: 150px;
    background-color: black;
}

#kontainer_spilleliste{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 100px;
}

.innhold_kort{
    margin: 20px;
    width: 200px;
    height: 200px;
}

#modus{
    background-color: white;
}

#bunn_bar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 122px;
    margin: 0px;
    padding: 0px;
    border: 3px solid #73AD21;
    background-color: black;
}


.spill_pause_knapp {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 62px;
  
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;
}

.spill_pause_knapp:hover{
    border-color: transparent transparent transparent gainsboro;
}

.knapp_pauset{
    border-style: solid !important;
    border-width: 35px 0 35px 55px !important;
}

.knapp_spiller{

    border-style: double !important;
    border-width: 0px 0 0px 60px !important;
}

#bunn_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#kontainer_sang_manipulasjon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#skip_sang_img{
    background-color: white;
}

#skip_baklengs_sang_img{
    background-color: white;
}

#bunn_bar_sang_info{
    position: absolute;
    left: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bunn_bar_spor_bilde{
    width: 90px;
}

#bunn_bar_spor_artist_titel{
    color: white;
}


#kontainer_sang_progresjonbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#kontainer_sang_manipulasjon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#kontainer_sang_avspilling{
    display: flex;
    justify-content: center;
    align-items: center;
}

